# Prioritize Python language
*.py linguist-language=Python

# Treat Jupyter Notebooks as Jupyter Notebook
*.ipynb linguist-language=Jupyter Notebook

# Ignore CSS, HTML, SCSS files for language statistics
*.css linguist-vendored=true
*.html linguist-vendored=true
*.scss linguist-vendored=true
