{% extends "layouts/base.html" %}

{% block title %} Chapter 1: Review - Geometry {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="components-trigonometry.html">Trigonometry</a></li>
              <li class="breadcrumb-item active" aria-current="page">Chapter 1: Review - Geometry</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Chapter 1: Review - Geometry</h1>
              <p class="mb-0"></p>
          </div>
          <!--
          <div>
              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components-forms/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Forms Docs</a>
          </div>
          //-->
      </div>
  </div>

  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
            <div style="padding-left: 2%;padding-top: 20px;">

                
            <p><span style="font-weight: 400;">A triangle is a type of two-dimensional shape that has three angles and three sides (that&rsquo;s how it gets its name). The slanted side is what we call the hypotenuse and the other two sides are what we call the legs <b>Its angles also add up to 180 degrees.&nbsp;</b></span></p>
            <p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/q7vI2oXL0gQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe></p>
            <p style="text-align: left;"><b>Triangles can be classified into three main types</b></p>
            <ol>
            <li style="font-weight: 400;" aria-level="1"><b>Equilateral</b><span style="font-weight: 400;"> - A triangle in which every side and angle are equal</span></li>
            <li style="font-weight: 400;" aria-level="1"><b>Scalene</b><span style="font-weight: 400;"> - A triangle in which neither the sides nor angles are equal</span></li>
            <li style="font-weight: 400;" aria-level="1"><b>Isosceles</b><span style="font-weight: 400;"> - A triangle in which two sides and two angles are equal</span></li>
            </ol>
            <p><span style="font-weight: 400;">In triangles, congruency is simply the idea that two triangles have equal size and shape. With triangles, there are multiple ways to prove triangle congruency</span></p>
            <ul>
            <li style="font-weight: 400;" aria-level="1"><b>SSS </b><span style="font-weight: 400;">- Side Side Side. Two triangles can be proved congruent if all three of their sides are equal</span></li>
            <li style="font-weight: 400;" aria-level="1"><b>SAS </b><span style="font-weight: 400;">- Side Angle Side. Two triangles can be proved congruent if two sides and the angle in between the two sides are congruent&nbsp;</span></li>
            <li style="font-weight: 400;" aria-level="1"><b>AAS</b><span style="font-weight: 400;"> - Angle Angle Side. Two triangles can be proved congruent if two angles and a side (non-included) are equal</span></li>
            <li style="font-weight: 400;" aria-level="1"><b>ASA </b><span style="font-weight: 400;">- Angle Side Angle. Two triangles can be proved congruent if two angles and a side in between are equal</span></li>
            <li style="font-weight: 400;" aria-level="1"><b>HL</b><span style="font-weight: 400;"> - If the hypotenuse and leg of a right triangle equal the hypotenuse and leg of another right triangle, the two triangles can be proved congruent</span></li>
            </ul>
            <p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/jWHOF6cFbpw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe></p>
            <p style="text-align: left;"><span style="font-weight: 400;">A scale factor is a factor that when applied to a triangle changes the sides (area, and volume), but <strong>not the angles</strong>. A scale factor must be equally distributed among&nbsp;<strong>all three sides of a triangle</strong>. For example, if I multiply one side of a triangle by 1/2, I must also multiply the&nbsp;<strong>rest of the sides&nbsp;</strong>by 1/2.</span></p>
            <br>
            <p style="text-align: left;">A right triangle is a special type of triangle where one angle is <strong>90 degrees.&nbsp;</strong>A right triangle is great because it allows for more enhancement of special features and formulas like the <strong>Pythagorean</strong> theorem and <strong>SOH CAH TOA</strong></p>
            <p>The Pythagorean Theorem states that for any given right triangle,</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp;<strong> a^2 + b^2 = c^2, where a and b are legs and c is the hypotenuse</strong></p>
            <p>If two sides of a triangle are known, the third side can be found using the Pythagorean theorem</p>
            <p></p>
            <p>SOH CAH TOA is an easy way to remember the three primary trigonometric functions. In a full-fledged trigonometry course, there is a huge extension to this, but in geometry, there are three main functions. The trigonometric functions express the ratios between the sides of a triangle (Even when multiplied by a scale factor, the sides are still going to have the same ratio)</p>
            <p>The sine of an angle is referred to as the ratio between the angle's opposite side and its hypotenuse side.&nbsp;</p>
            <p>The cosine of an angle is also referred to as the ratio between the angle's adjacent side and its hypotenuse side. The prefix co means complementary so the cosine of an angle is actually just the sine of its complementary angle</p>
            <p>The tangent of an angle is referred to as the ratio between the angle's opposite side and its adjacent side.</p>


            </div>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
